/* body {
    background-color: black;
} */

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: white;
    font-size: 24px;
    margin: auto;
    max-width: 1000px;
}

.faq-question-block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #606060;
    gap: 0;
}

.question-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 31px;
    padding-bottom: 25px;
    gap: 10px;
    flex: 1;
    width: 100%;
}

.faq-question {
    flex: 1;
}

.answer-body {
    flex: 1;
    margin-bottom: 12px;
}